# Core dependencies
pandas
numpy
scikit-learn
joblib
mlflow

# Visualizations
matplotlib
seaborn

# Streamlit app
streamlit
streamlit-ace

# Data & utility
python-box
pyyaml
tqdm
python-dotnev

# Type hints
types-PyYAML

# Notebooks
notebook

# Environment / setup
setuptools
ensure

# Local project package
-e .
